# &nbsp;&nbsp;&nbsp;&nbsp; EXERCÍCIOS PANDAS

A biblioteca do Pandas, construída sobre o NumPy, fornece estruturas de dados de alto nível (tabulares, multidimensionais, potencialmente heterogêneas) e ferramentas que foram projetadas para ajudar os programadores Python a implementar análises robustas de dados. O maior propósito do Pandas é ajudar a identificar informações em dados. A biblioteca Pandas tornou-se uma das ferramentas mais favorecidas para os cientistas de dados ilustrarem dados para manipulação e análise. Pandas é geralmente usado em unidade com ferramentas numéricas de computação como NumPy e SciPy, bibliotecas analíticas como modelos de estatísticas e scikit-learn, e bibliotecas de visualização de dados como matplotlib.

As duas estruturas primárias de dados do pandas, ``Series (1-dimensional)`` e ``DataFrame (bidimensional)``, lidam com a grande maioria dos casos típicos de uso em finanças, estatísticas, ciências sociais e muitas áreas da engenharia. 
DataFrames e Séries são bastante semelhantes de modo que muitas operações que você pode fazer com uma, você pode fazer com a outra, como preencher valores nulos e calcular a média.
Você verá como esses componentes funcionam quando começarmos a trabalhar com o mateiral a seguir:

Atenção: Se você necessitar fazer consultas sobre comandos, métodos e funções da Biblioteca Pandas, está disponível abaixo o link para a documentação do Pandas. Para acesso, execute o código abaixo:

In [ ]:
from IPython.core.display import HTML
HTML("<iframe src=https://pandas.pydata.org/docs/user_guide/index.html width=900 height=500></iframe>")

Para se trabalhar com Pandas, como qualquer outra biblioteca Python, é necessário importar o módulo. Execute os comandos abaixo.

In [1]:
import numpy as np 

import pandas as pd

##  Séries

Series Pandas é um array unidimensional capaz de manter dados de qualquer tipo (inteiro, string, float, objetos python, etc.), rotulados por um conjunto de valores. Series não é nada além de uma coluna em uma planilha de excel. O padrão dos índices 
Os rótulos constituem os índices da Serie que possibilitam o acesso aos elementos. Os índices podem ser criados automaticamente pelo Pandas (indexação inteira) ou pelos usuários. O Pandas Series fornece uma série de métodos para realizar operações envolvendo os índices.

#### Não especificando o rótulo (índices) da Serie - Indexação Default (inteira)

In [ ]:
capitais = pd.Series(['Brasíla', 'Moscou', 'Nova Deli', 'Pequim', 'Cidade do Cabo'], name="Capitais")

capitais

#### Especificando um rótulo (índice)

In [2]:
paises = ["Brasil", "Rússia", "Índia", "China", "África do Sul"]

brics = pd.Series(['Brasíla', 'Moscou', 'Nova Deli', 'Pequim', 'Cidade do Cabo'], index = paises, name="Brics")

brics

#### Exibindo o nome da Serie

In [ ]:
brics.name

#### Exibindo os primeiros e útimos elementos da Serie

In [ ]:
print(brics.head(3))  # Exibindo os 3 primeiros elementos, se não tiver parâmetro, exibe 5 por default

print('\n')

print(brics.tail(2))  # Exibindo os 2 últimos elementos, se não tiver parâmetro, exibe 5 por default

#### Criando uma Serie a partir de um dicionário

In [ ]:
paises = {"Brasil":"Brasíla",
         "Russia": "Moscou",
         "India": "New Delhi",
         "China": "Pequim",
         "Africa do Sul": "Cidade do Cabo"}

brics = pd.Series(paises, name ='Brics')

brics

#### Criando series using NumPy functions

In [ ]:
ser1 = pd.Series(np.linspace(1, 10, 5)) # Criando a Serie usando a função de criação de arrays numpy - linspace

print(ser1)

#### Exibindo os índices e valores da Serie

In [ ]:
print(brics.index) # Exibe os índices

print('\n\n')

print(brics.values) # Exibe os valores

### Conversões entre Listas (Python)

A seguir, é mostrada a figura a transformação entre as três estruturas de dados: **Series, Listas (Pyton) e Arrays(Numpy)**.

<img src="serie1.png"  
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />

#### Exemplos das Transformação Lista <> Serie

In [ ]:
lista = list(range(1,10))  #Criando uma lista Python
print('Lista = ', lista, '\n')

ser = pd.Series(lista)   #Criando uma serie a partir da lista
print(ser)

lst = ser.tolist()  # Criando uma lista a partir da Serie
print('\nLista =', lst)

#### Exemplos das Transformação Numpy Array <> Serie

In [ ]:
array = np.array(range(1,10)) #Criando um Array NumPy
print('array =', array, '\n')

ser = pd.Series(array)   #Criando uma serie a partir do Array
print(ser)
 
arr = ser.to_numpy()  # Criando o Array a partir da Serie
print('\narray = ', arr)

#### Exemplos das Transformação Lista <> Array

In [ ]:
lista = list(range(1,10))  #Criando uma lista Python
print('Lista = ', lista, '\n')

array = np.array(lista) #Criando um Array NumPy a aprtir da Lista
print('array =', array, '\n')

lst = array.tolist() # Criando uma lista a partir do Array

print('\nLista =', lst)

### Acessando os elementos da Série

Há duas maneiras pelas quais podemos acessar os elementos da série, eles são:

- Acesso aos elementos da série usando a posição
- Acesso aos elementos da séire usando o rótulo (índice)

#### Acesso aos elementos da série usando a posição : 

O acesso aos elementos da série é feito pelo número do índice. Semelhantemente as listas Python, use o operador de índice [ ] para acessar um elemento em uma série. O índice deve ser um inteiro. Para acessar vários elementos de uma série, usamos a operação de fatiamento (Slice).

In [ ]:
jogadores = ['Castilho', 'Carlos Alberto Torres', 'Edinho', 'Didi', 'Gérson','Branco', 'Telê Santana', 
             'Paulo César Caju', 'Fred', 'Assis', 'Rivellino']

flu = pd.Series(jogadores) # Criar uma Serie com o nome dos jogadores

print(flu[0])  #Exibe o nome do jogador da primeira posição da série (índice = 0) 

print(flu[8:])   #Exibe os nomes dos jogadores através de fatiamento.

#### Acessando o elemento usando o rótulo (índice):

A definição dos índices (rótulos) é feita através do atributo *index*. Acessando um único elemento usando o rótulo de índice. Esse tipo de indexação força que o usuário explicite os valores dos rótulos, senão será usada a posição.

In [ ]:
jogadores = ['Castilho', 'Carlos Alberto Torres', 'Edinho', 'Didi', 'Gérson','Branco', 'Telê Santana', 
             'Paulo César Caju', 'Fred', 'Assis', 'Rivellino']

indices = [1,2,3,4,5,6,7,8,9,10,11] # Definindo os índices da Series

flu = pd.Series(jogadores, index=indices) # Criar uma Serie com o nome dos jogadores

print("Jogadores de Todos os tempos")

for i in indices:   #Percorre do índice 1 até 11 (Explicitando os rótulos)
    print("\n", i, ":", flu[i])  #Exibe o nome do jogador pelo índice da Série

### Acesso por seleção  booleano 
Semelhantemente as listas em Python, é possível realizar seleção booleana em Pandas.

In [ ]:
ser = pd.Series(['a', 'b', 'c', 'd', 'e','f', 'g', 'h'])

print(ser > 'b')  #Exibindo os valores True ou False nas posições dos itens que atendem ou não o critério de seleção.

<a id="Selecao_Booleana"></a> 
### Seleção em matrizes booleanas
É possível  usar a seleção booleana como máscaras, para selecionar subconjuntos específicos dos próprios dados. C

In [ ]:
print(ser[ser > 'b']) #Seleção pelos valores da Série que atendem o critério de seleção

print('\n')

print(ser[ser.index > 4]) # Seleção pelos índices que atendem o critério de seleção

### Acessando os elementos usando o iloc (posição) e loc (índice):

- **iloc[ ]** : Indexação puramente inteira baseada na posição inteira (de 0 a comprimento-1 do eixo), semelhante ao Python.

- **loc[ ]** : Indexação baseado principalmente em rótulos.

In [ ]:
print(brics.iloc[0]) #Acesso via posição. Acessando o elemento na 1º posição da série

print('\n')

print(brics.iloc[1:3]) #Acessando a segunda e terceira posição da Serie

print('\n')

print(brics.loc['Brasil']) #Acessa o elemento de rótulo Brasil

print('\n')

print(brics.loc["Russia":"China"]) #Acessa os elementos situados entre o Rótulo Russia e China

<a id="Exercicio"></a> 
### <font color="red">Exercício 1</font>

⚫1- Criar uma serie a partir das listas abaixo(Pilotos F1 e colocações), os índices serão representados pelas colocações no Grande Prêmio Brasil de 2019. Exibir a serie formada.

In [26]:
pilotos = ['Max Verstappen', 'Sebastian Vettel', 'Lewis Hamilton', 'Charles Leclerc', 'Valtteri Bottas', 'Alexander Albon', 
           'Pierre Gasly', 'Romain Grosjean', 'Kimi Räikkönen', 'Kevin Magnussen', 'Lando Norris', 'Daniel Ricciardo', 
           'Antonio Giovinazzi', 'Nico Hülkenberg', 'Sergio Pérez', 'Daniil Kvyat', 'Lance Stroll', 'George Russell', 
           'Robert Kubica']

colocacao = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18, 19] 

#Coloque seu código aqui!!

gp = pd.Series(pilotos, index= colocacao, name = "gpbrasil")

gp

1         Max Verstappen
2       Sebastian Vettel
3         Lewis Hamilton
4        Charles Leclerc
5        Valtteri Bottas
6        Alexander Albon
7           Pierre Gasly
8        Romain Grosjean
9         Kimi Räikkönen
10       Kevin Magnussen
11          Lando Norris
12      Daniel Ricciardo
13    Antonio Giovinazzi
14       Nico Hülkenberg
15          Sergio Pérez
16          Daniil Kvyat
17          Lance Stroll
18        George Russell
19         Robert Kubica
Name: gpbrasil, dtype: object

⚫2- Use a técnica de fatiamento usando loc[] e iloc[] para exibir o nome dos pilotos que formaram o pódium do Grande Prêmio Brasil.

In [16]:
#Coloque seu código aqui!!

print(gp.iloc[:3])  #usando posição

print(gp.loc[1:3])  # usando índices

1      Max Verstappen
2    Sebastian Vettel
3      Lewis Hamilton
dtype: object
1      Max Verstappen
2    Sebastian Vettel
3      Lewis Hamilton
dtype: object

⚫3- Mostre o nome dos pilotos que ficaram nas 5 últimas colocações

In [29]:
#Coloque seu código aqui!!

#gp.tail()
# OU

gp.iloc[-5:]

15      Sergio Pérez
16      Daniil Kvyat
17      Lance Stroll
18    George Russell
19     Robert Kubica
Name: gpbrasil, dtype: object

⚫4- Mostre o nome dos pilotos que ficaram nas colocações intermediárias do 4º ao 10ºcolocados

In [30]:
#Coloque seu código aqui!!

gp.loc[4:10]

4     Charles Leclerc
5     Valtteri Bottas
6     Alexander Albon
7        Pierre Gasly
8     Romain Grosjean
9      Kimi Räikkönen
10    Kevin Magnussen
Name: gpbrasil, dtype: object

⚫5- transforme a Serie em Dicionário. Exiba o dicionário formado.

In [31]:
#Coloque seu código aqui

dic = gp.to_dict()
dic

{1: 'Max Verstappen',
 2: 'Sebastian Vettel',
 3: 'Lewis Hamilton',
 4: 'Charles Leclerc',
 5: 'Valtteri Bottas',
 6: 'Alexander Albon',
 7: 'Pierre Gasly',
 8: 'Romain Grosjean',
 9: 'Kimi Räikkönen',
 10: 'Kevin Magnussen',
 11: 'Lando Norris',
 12: 'Daniel Ricciardo',
 13: 'Antonio Giovinazzi',
 14: 'Nico Hülkenberg',
 15: 'Sergio Pérez',
 16: 'Daniil Kvyat',
 17: 'Lance Stroll',
 18: 'George Russell',
 19: 'Robert Kubica'}

## Classificação em Séries <a id="Sort"></a> 

As funções Pandas **Series.sort_values()** e **Series.sort_index()** são usadas para classificar/Ordenar, respectivamente, os elementos e índices da série, em ordem ascendente ou descendente, por algum critério de ordenação. A função também fornece a flexibilidade de escolher o algoritmo de classificação.

### Series.sort_values(ascending=True, inplace=False na_position=’last’)

### Series.sort_index(ascending=True, inplace=False)

**ascending** : padrão True. Classificar ascendente. False descendente<br>
**Inplace**   : True, acontece na própria série, do contrário cria-se uma nova série.<br>
**na_position**: {'first', 'last'} (opcional, default='last'). Coloca NaNs no final <br>

*Obs: há outros atributos, mas só descrevemos os mais importantes.

In [21]:
ser = pd.Series(np.random.rand(10)) # Criar um Serie com números aleatórios
print(ser)

print('\n')

#Ordenando a Série pelos valores em ordem ascendente, na própria série
ser.sort_values(inplace=True)
print(ser)

print('\n')

#Ordenando a Série pelos índices em ordem descendente, na própria série
ser.sort_index(ascending=False, inplace=True)
print(ser)

0    0.240829
1    0.430566
2    0.437695
3    0.578918
4    0.820407
5    0.676709
6    0.527957
7    0.861547
8    0.922213
9    0.096284
dtype: float64


9    0.096284
0    0.240829
1    0.430566
2    0.437695
6    0.527957
3    0.578918
5    0.676709
4    0.820407
7    0.861547
8    0.922213
dtype: float64


9    0.096284
8    0.922213
7    0.861547
6    0.527957
5    0.676709
4    0.820407
3    0.578918
2    0.437695
1    0.430566
0    0.240829
dtype: float64

<a id="Exercicio2"></a> 
### <font color="red">Exercício 2</font>

Dado o dicionário abaixo, contendo os preços de fechamento das ações da Vale em um determinado período, converta-o em uma série e, a partir dela, crie uma lista com as variações percentuais diárias dos preços (dia_anterior/dia-atual - 1) * 100. Antes do cálculo é necessário ordenar a série, a seguir use a compreensão de lista para realizar os cálculos. Exibir a lista criada.<br><br>

In [22]:
vale = {"2020-04-30":44.86,"2020-04-29":46.73,"2020-04-28":44.61,"2020-04-27":44.55,"2020-04-24":43.76,"2020-04-23":43.51,
        "2020-04-22":42.90,"2020-04-20":42.46,"2020-04-17":44.00,"2020-04-16":42.76,"2020-04-15":43.19,"2020-04-14":44.53,
        "2020-04-13":44.57,"2020-04-09":43.28,"2020-04-08":43.51,"2020-04-07":43.78,"2020-04-06":43.13,"2020-04-03":40.50,
        "2020-04-02":42.78,"2020-04-01":43.37}
#Coloque seu código aqui!!

ser_vale = pd.Series(vale)
ser_vale.sort_index(inplace=True)

lis_var=[]
lis_var.insert(0,'N/A')
#for i in range(1,10):
#    lis_var.insert(i, ser_vale[i-1]/ser_vale[i] - 1)
    
lis_var = [(ser_vale.iloc[i-1])/ser_vale.iloc[i] - 1  for i in range(1,len(ser_vale))]

lis_var

[0.013791491351098584,
 0.05629629629629629,
 -0.06097843728263397,
 -0.014846962083142956,
 0.006205470006894975,
 0.005314232902033256,
 -0.028943235360107678,
 0.0008982708286549013,
 0.031025700393609634,
 0.010056127221702571,
 -0.028181818181818197,
 0.03626943005181338,
 -0.01025641025641022,
 -0.014019765571133047,
 -0.005712979890310832,
 -0.017732884399551008,
 -0.0013449899125757003,
 -0.04536700192595755,
 0.041685242978154236]

⚫1-Exibir as informações anteriores (Serie e lista) nos seguinte formato:


|<font size="3" face="Times">Data</font>              |<font size="3" face="Times">Fechamento</font>        |<font size="3" face="Times">Variação(%)</font>    |
|:----------------:|:----------------:|:-------------:|
|<font size="3" face="Times">2020-04-01</font>         |     <font size="3" face="Times">43.37 </font>        |      <font size="3" face="Times">N/A </font>      |
|<font size="3" face="Times">2020-04-02    </font>     |     <font size="3" face="Times">42.78 </font>        |    <font size="3" face="Times">1.38 </font>     |

In [23]:
#Coloque seu código aqui!!

print('data           fechamento        variação(%)')
print(ser_vale.index[0], '      ',ser_vale.values[0], '            N/A')
for x in range(1,len(ser_vale)):
    print('{0}        {1:.2f}            {2:>5.2f}'.format(ser_vale.index[x], ser_vale.values[x], lis_var[x-1]*100))

data           fechamento        variação(%)
2020-04-01        43.37             N/A
2020-04-02        42.78             1.38
2020-04-03        40.50             5.63
2020-04-06        43.13            -6.10
2020-04-07        43.78            -1.48
2020-04-08        43.51             0.62
2020-04-09        43.28             0.53
2020-04-13        44.57            -2.89
2020-04-14        44.53             0.09
2020-04-15        43.19             3.10
2020-04-16        42.76             1.01
2020-04-17        44.00            -2.82
2020-04-20        42.46             3.63
2020-04-22        42.90            -1.03
2020-04-23        43.51            -1.40
2020-04-24        43.76            -0.57
2020-04-27        44.55            -1.77
2020-04-28        44.61            -0.13
2020-04-29        46.73            -4.54
2020-04-30        44.86             4.17

⚫6- Exiba o fechamento médio do período com duas casas decimais.

In [24]:
#Coloque seu código aqui

print("{0:.2f}".format(ser_vale.mean()))

43.64

⚫7- Exiba apenas as datas em que o preço de fechamento ficou acima do preço médio de fechamento no período.

In [72]:
#Coloque seu código aqui!!

ser_vale[ser_vale > ser_vale.mean()].index

Index(['2020-04-30', '2020-04-29', '2020-04-28', '2020-04-27', '2020-04-24',
       '2020-04-17', '2020-04-14', '2020-04-13', '2020-04-07'],
      dtype='object')

<a id="Desafio"></a> 
### <font color="red">Desafio</font>

**RGB** é a abreviatura de um sistema de cores aditivas em que o **Vermelho (Red)**, o **Verde (Green)** e o **Azul (Blue)** são combinados de várias formas de modo a reproduzir um largo espectro cromático. O propósito principal do sistema RGB é a reprodução de cores em dispositivos eletrônicos como monitores de TV e computador, retroprojetores, scanners e câmeras digitais, assim como na fotografia tradicional.

⚫1- Dada as listas abaixo, criar o dicionario **dic_cor** formado pelas listas **coring (chave)** e **rgb(valores)**. O objetivo desse dicionário é exibir o padrão RGB (Tupla com os 3 valores), dado o nome de uma côr (em inglês).

In [25]:
coring=["Aquamarine","Azure","Beige","Black","Blue","BlueViolet","Brown","BurlyWood","Chartreuse","Chocolate","Coral",
        "cyan","DarkBlue","DarkGray","DarkGreen","DarkKhaki","DarkOrange","DarkRed","FireBrick","Fuchsia","Gold",
        "Goldenrod","Gray","Green","Indigo","Ivory","Khaki","Lavender","Lime","LimeGreen","Magenta","Maroon","Olive",
        "Orange","PeachPuff","Plum","Purple","Red","Salmon","Silver","Snow","Tomato","Turquoise","Violet","White","Yellow",
        "YellowGreen"] 
rgb=[(127,255,212),(240,255,255),(245,245,220),(0,0,0),(0,0,255),(138,43,226),(165,42,42),(222,184,135),(127,255,0),
     (210,105,30),(255,127,80),(0,255,255),(0,0,139),(169,169,169),(0,100,0),(189,83,107),(255,140,0),(139,0,0),(178,34,34),
     (255,0,255),(255,215,0),(218,165,32),(128,128,128),(0,128,0),(75,0,130),(255,255,240),(240,230,140),(230,230,250),
     (0,255,0),(50,205,50),(255,0,255),(128,0,0),(128,128,0),(255,165,0),(255,218,185),(221,160,221),(128,0,128),(255,0,0),
     (250,128,114),(192,192,192),(255,250,250),(255,99,71),(64,224,208),(238,130,238),(255,255,255),
     (255,255,0),(154,205,50)]

#Coloque seu código aqui!!

dic_cor = dict(zip(coring,rgb))

dic_cor

{'Aquamarine': (127, 255, 212),
 'Azure': (240, 255, 255),
 'Beige': (245, 245, 220),
 'Black': (0, 0, 0),
 'Blue': (0, 0, 255),
 'BlueViolet': (138, 43, 226),
 'Brown': (165, 42, 42),
 'BurlyWood': (222, 184, 135),
 'Chartreuse': (127, 255, 0),
 'Chocolate': (210, 105, 30),
 'Coral': (255, 127, 80),
 'cyan': (0, 255, 255),
 'DarkBlue': (0, 0, 139),
 'DarkGray': (169, 169, 169),
 'DarkGreen': (0, 100, 0),
 'DarkKhaki': (189, 83, 107),
 'DarkOrange': (255, 140, 0),
 'DarkRed': (139, 0, 0),
 'FireBrick': (178, 34, 34),
 'Fuchsia': (255, 0, 255),
 'Gold': (255, 215, 0),
 'Goldenrod': (218, 165, 32),
 'Gray': (128, 128, 128),
 'Green': (0, 128, 0),
 'Indigo': (75, 0, 130),
 'Ivory': (255, 255, 240),
 'Khaki': (240, 230, 140),
 'Lavender': (230, 230, 250),
 'Lime': (0, 255, 0),
 'LimeGreen': (50, 205, 50),
 'Magenta': (255, 0, 255),
 'Maroon': (128, 0, 0),
 'Olive': (128, 128, 0),
 'Orange': (255, 165, 0),
 'PeachPuff': (255, 218, 185),
 'Plum': (221, 160, 221),
 'Purple': (128, 0, 128),
 'Red': (255, 0, 0),
 'Salmon': (250, 128, 114),
 'Silver': (192, 192, 192),
 'Snow': (255, 250, 250),
 'Tomato': (255, 99, 71),
 'Turquoise': (64, 224, 208),
 'Violet': (238, 130, 238),
 'White': (255, 255, 255),
 'Yellow': (255, 255, 0),
 'YellowGreen': (154, 205, 50)}

⚫2- Vamos fazer um teste? Peça (input) ao usuário um côr em ingles, exiba o padrão RGB, da seguinte forma:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**R(Red)&nbsp;&nbsp;&nbsp;&nbsp;: 128** <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**G(Green): 128** <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;**B(Blue)&nbsp;&nbsp;&nbsp;: 128** <br>

In [82]:
#Coloque seu código aqui!!!

cor = input('Digite uma côr em inglês:')

if cor in dic_cor:
    print("R(Red)    :",dic_cor[cor][0])
    print("G(Green)  :",dic_cor[cor][1])
    print("B(Blue)   :",dic_cor[cor][1])
else:
    print("Nome de côr não existe!!")

Digite uma côr em inglês:White
R(Red)    : 255
G(Green)  : 255
B(Blue)   : 255

⚫3-Dada listas abaixo, criar a série **ser_cor** formada pelas listas **corport(índices)** e **coring(valores)**:

In [83]:
corport=["água marinha","azul intenso","bege","preto","azul","azul violeta","marrom","madeira - castanho","verde limão",
         "chocolate","coral","ciano","azul escuro","cinza escuro","verde escuro","caqui escuro","laranja escuro",
         "vermelho escuro","tijolo","fuchsia","ouro","dourado","cinza","verde","indigo","marfim","caqui","lavanda","limão",
         "verde limão","magenta","castanho","verde oliva","laranja","pessêgo","ameixa","roxo","vermelho","salmão","prata",
         "neve","tomato","turquesa","violeta","branco","amarelo","amarelo verde"] 

coring=["Aquamarine","Azure","Beige","Black","Blue","BlueViolet","Brown","BurlyWood","Chartreuse","Chocolate","Coral",
        "cyan","DarkBlue","DarkGray","DarkGreen","DarkKhaki","DarkOrange","DarkRed","FireBrick","Fuchsia","Gold",
        "Goldenrod","Gray","Green","Indigo","Ivory","Khaki","Lavender","Lime","LimeGreen","Magenta","Maroon","Olive",
        "Orange","PeachPuff","Plum","Purple","Red","Salmon","Silver","Snow","Tomato","Turquoise","Violet","White","Yellow",
        "YellowGreen"]

#Coloque seu código aqui!!

ser_cor = pd.Series(coring, index = corport)

ser_cor

água marinha           Aquamarine
azul intenso                Azure
bege                        Beige
preto                       Black
azul                         Blue
azul violeta           BlueViolet
marrom                      Brown
madeira - castanho      BurlyWood
verde limão            Chartreuse
chocolate               Chocolate
coral                       Coral
ciano                        cyan
azul escuro              DarkBlue
cinza escuro             DarkGray
verde escuro            DarkGreen
caqui escuro            DarkKhaki
laranja escuro         DarkOrange
vermelho escuro           DarkRed
tijolo                  FireBrick
fuchsia                   Fuchsia
ouro                         Gold
dourado                 Goldenrod
cinza                        Gray
verde                       Green
indigo                     Indigo
marfim                      Ivory
caqui                       Khaki
lavanda                  Lavender
limão                        Lime
verde limão             LimeGreen
magenta                   Magenta
castanho                   Maroon
verde oliva                 Olive
laranja                    Orange
pessêgo                 PeachPuff
ameixa                       Plum
roxo                       Purple
vermelho                      Red
salmão                     Salmon
prata                      Silver
neve                         Snow
tomato                     Tomato
turquesa                Turquoise
violeta                    Violet
branco                      White
amarelo                    Yellow
amarelo verde         YellowGreen
dtype: object

⚫4- Faça um trecho de código que solicite ao usuário uma côr em português e mostre a correspondente em inglês, bem como o padrão RGB correspondente. conforme exemplo abaixo:<br>

**Cor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: Amarelo** <br>
**Cor(Ing):Yellow**
 
 **(R)ed: 255  (G)reen: 255  (B)lue: 0**

In [90]:
#Coloque seu código aqui !!

cor = input('Digite o nome de uma côr:')
if cor in ser_cor:
    coring = ser_cor[cor]
    rgb = dic_cor[coring]

    print("\nCor: {0}  Inglês: {1}".format(cor, coring))
    print("(R)ed: {0}  (G)reen: {1}  (B)lue: {2}".format(rgb[0], rgb[1], rgb[2]))
else:
    print("Nome de Côr Inválido!!")

Digite o nome de uma côr:branco

Cor: branco  Inglês:White
(R)ed: 255  (G)reen: 255  (B)lue: 255

### Conversão em Hexadecimal

Quando queremos usar cores em um documento HTML é necessário representá-las através de valores hexadecimais, porque o HTML só suporta esse formato para cores, exceto para algumas cores que, além do hexadecimal, também aceita o nome em inglês. Portanto, em alguns casos, é necessário transformarmos as cores do padrão RGB para sua representação em código hexadecimal. 
#### Hexadecimal é um sistema de numeração onde a base é 16. Os números válidos no sistema hexadecimal são:
<h3> <font color="red"><b>
                                                      0 1 2 3 4 5 6 7 8 9  A  B  C  D  E  F 
    </b> </font>
</h3>    

#### Isso mesmo!! os valores 10, 11, 12, 13, 14 e 15 são representados pelas letras; A, B, C, D, E, F, respectivamente.
---

#### Regras de Transformação 
Cada valor do padrão RGB é representado por apenas dois dígitos hexadecimais, no seguinte formato:
<h4> <font color="red">
      (em RGB) (N, N, N)  = (em HEXA) #DDDDDD, onde N é um número decimal e DD um número hexadecimal
</font>
</h4>    
    
#### Passos:
#### 1) Pegar cada numero do RGB e dividí-los por 16
#### 2) O resultado da divisão forma o primeiro dígito hexa
#### 3) O resto da divisão forma o segundo dígito hexa.
#### Exemplo: 
<h3> <font color="red">     RGB(223,116,116) corresponde ao hexa #DF7474
</font>
</h3>    
---

⚫5-Dada a lista abaixo, representando o sistem Hexadecimal, crie a série **ser_hex**:

In [91]:
lis_hexa = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F']

#Coloque seu código aqui!!

lis_hexa = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F']

ser_hexa = pd.Series(lis_hexa)
lis_hexa

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'A', 'B', 'C', 'D', 'E', 'F']

⚫6-Faça um trecho de código que solcite ao usuário uma côr e exiba o seu código RGB, bem como o correspondente em HEXADECIMAL, conforme o exemplo abaixo:

**Cor&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: vermelho** <br>
**Cor(Ing): Red**<br>
**(R)ed: 255  (G)reen: 0  (B)lue: 0** <br>
**Código Hexadecimal:  #FF0000**

In [92]:
#Coloque seu código aqui!!

cor = input('Digite o nome de uma côr:')
coring = ser_cor[cor]
rgb = dic_cor[coring]
text_hex = "#"
for i in range(3):
    res = rgb[i] // 16
    text_hex +=str(ser_hexa[res])
    res = rgb[i] % 16
    text_hex +=str(ser_hexa[res])
    
print("\nCor: {0}  Inglês:{1}".format(cor, coring))
print("(R)ed: {0}  (G)reen: {1}  (B)lue: {2}".format(rgb[0], rgb[1], rgb[2]))
print("Código Hexadecimal: ", text_hex)

Digite o nome de uma côr:amarelo

Cor: amarelo  Inglês:Yellow
(R)ed: 255  (G)reen: 255  (B)lue: 0
Código Hexadecimal:  #FFFF00

## DataFrame <a id="DataFrame"></a>

Um DataFrame representa uma estrutura de dados tabular, semelhante a uma planilha, contendo um conjunto ordenado de colunas, cada uma das quais pode ser um tipo de valor diferente (numérico, string, booleano, etc.). 
O DataFrame tem um índice de linha e coluna; pode ser considerado como um dicionário de Série (todos compartilhando o mesmo índice).

<img src="DataFrame.png"  
     alt="Markdown Monster icon"
     style="float: left; margin-right: 10px;" />

#### Criando um Dataframe vazio

In [ ]:
df = pd.DataFrame()
print (df)

#### Criando Dataframe a partir de: Lista, Listas de tuplas/listas, Dicionários e Lista de Dicionários.

In [ ]:
dado = list([2,4,6,8,10]) 
df = pd.DataFrame(dado,columns=["Par"]) #Criando a partir de uma Lista
print(df)

#dado = list([['Ana', 18, 56.0],['Barbara',20,60.3],['Carla',19,58.8],['Paula', 21, 61.2]])
dado = list([('Ana', 18, 56.0),('Barbara',20,60.3),('Carla',19,58.8),('Paula', 21, 61.2)])

df = pd.DataFrame(dado,columns=["Nome", "Idade", "Peso"]) #Criando a partir de uma Lista de tuplas

print(df)


dado = {"Nome":('Ana','Barbara','Carla','Paula'), "Idade":(18,20,19,21), "Peso":(56.0,60.3,58.8, 61.2)}

df = pd.DataFrame(dado) #Criando a partir de um Dicionário
print(df)

dado = [{"Nome":'Ana',"Idade":18, "Peso":56.0}, {"Nome":'Barbara',"Idade":20,"Peso":60.3},{"Nome":'Carla',"Idade":19, "Peso":58.8}, {"Nome":'Paula',"Idade":21,"Peso":61.2}]
df = pd.DataFrame(dado) #Criando a partir de uma lista de Dicionários
print(df)

#### Criando Dataframe a partir de Series

In [ ]:
autor = ['Andre','Bruno','Carla','Paula'] 
Num_artigo = [210, 211, 114, 211] 
  
autor_series = pd.Series(autor) 
artigo_series = pd.Series(Num_artigo) 
  
dicSeries = { 'Autor': autor_series, 'Núm. Artigo': artigo_series } 
  
df = pd.DataFrame(dicSeries) 
  
print(df)

#### Criando uma nova coluna em um Dataframe

In [ ]:
titulo = ["Artigo210", "Artigo211", "Artigo114", "Artigo211"] 
  
df['Titulo'] = pd.Series(titulo) #Criando uma nova coluna 'Titulo'

print(df)

#### Utilize as listas listas corport(índices) e coring para criar o DataFrame "df_cor". O DataFrame deverá ter as colunas ("cor_ingles"). A partir da lista rgb, criar as colunas "R", "G" e "B" no DataFrame.

In [152]:
# Coloque seu código aqui!!

ser = pd.Series(coring, index=corport)
df_cor = pd.DataFrame(ser,columns=["cor_ingles"], index=corport )
#df_cor
df_cor["R"] = [x for x,y,z in rgb]
df_cor["G"] = [y for x,y,z in rgb]
df_cor["B"] = [z for x,y,z in rgb]

df_cor

                     cor_ingles    R    G    B
água marinha         Aquamarine  127  255  212
azul intenso              Azure  240  255  255
bege                      Beige  245  245  220
preto                     Black    0    0    0
azul                       Blue    0    0  255
azul violeta         BlueViolet  138   43  226
marrom                    Brown  165   42   42
madeira - castanho    BurlyWood  222  184  135
verde limão          Chartreuse  127  255    0
chocolate             Chocolate  210  105   30
coral                     Coral  255  127   80
ciano                      cyan    0  255  255
azul escuro            DarkBlue    0    0  139
cinza escuro           DarkGray  169  169  169
verde escuro          DarkGreen    0  100    0
caqui escuro          DarkKhaki  189   83  107
laranja escuro       DarkOrange  255  140    0
vermelho escuro         DarkRed  139    0    0
tijolo                FireBrick  178   34   34
fuchsia                 Fuchsia  255    0  255
ouro                       Gold  255  215    0
dourado               Goldenrod  218  165   32
cinza                      Gray  128  128  128
verde                     Green    0  128    0
indigo                   Indigo   75    0  130
marfim                    Ivory  255  255  240
caqui                     Khaki  240  230  140
lavanda                Lavender  230  230  250
limão                      Lime    0  255    0
verde limão           LimeGreen   50  205   50
magenta                 Magenta  255    0  255
castanho                 Maroon  128    0    0
verde oliva               Olive  128  128    0
laranja                  Orange  255  165    0
pessêgo               PeachPuff  255  218  185
ameixa                     Plum  221  160  221
roxo                     Purple  128    0  128
vermelho                    Red  255    0    0
salmão                   Salmon  250  128  114
prata                    Silver  192  192  192
neve                       Snow  255  250  250
tomato                   Tomato  255   99   71
turquesa              Turquoise   64  224  208
violeta                  Violet  238  130  238
branco                    White  255  255  255
amarelo                  Yellow  255  255    0
amarelo verde       YellowGreen  154  205   50

## Importando dados <a id="Importando"></a>

### Lendo Dados de Arquivos CSV
O Pandas possui comandos que permitem a leitura e carregamento de dados a partir de arquivos **CSV** ou **EXCEL**. Há muitos atributos para essa função de leitura, mas só iremos abordar o que interessa, no momento:
#### CSV:
### pandas.read_csv('caminho/Arquivo', sep=',',  names=['colunas'], index_col=['coluna índice'])

**obs**: *com exceção do nome do arquivo e sep, os outros atributos são opcionais.* 

#### EXCEL:

### pandas.read_excel('caminhoArquivo', sheet_name=['nomeplanilha'],  names=['colunas'], index_col=['coluna índice'])

**obs**: *com exceção do nome do arquivo, os outros atributos são opcionais.*

Lendo dados do arquivo **CariocaFutebol.csv**, situado na mesma pasta do notebook. Exibir as 5 primeiras linhas

In [94]:
fut = pd.read_csv('CariocaFutebol.csv', sep=';')
fut.head()

             Nome  Idade      Clube  Altura  Peso     Posicao
0      Jose Canto     21  Bangu A C   189.0  75.0    GOLEIROS
1         Luciano     27  Bangu A C     NaN   NaN    GOLEIROS
2  Matheus Inacio     27  Bangu A C   191.0  81.0    GOLEIROS
3   Rodrigo Lobao     26  Bangu A C   193.0  87.0  DEFENSORES
4     Bruno Moura     27  Bangu A C   183.0  78.0  DEFENSORES

### Obtendo informações sobre seus dados
 O método **.info()** deve ser um dos primeiros comandos executados após o carregamento de seus dados, pois fornece os detalhes essenciais sobre o seu conjunto de dados, como o número de linhas e colunas, o número de valores não nulos, que tipo de dados está em cada coluna e quanta memória seu DataFrame está usando.<br>
 Um atributo importante do DataFrame é **.shape** que exibe uma tupla informando o **nº de linhas e colunas** existentes no DataFrame.

In [ ]:
fut.info()  #Detalhamento do Dataframe (MetaDado)

fut.shape   #Qtde de Linhas e Colunas do DataFrame

#### Selecionando dados de uma ou mais colunas

In [95]:
x = fut['Clube'] #Seleção de uma coluna

print(x.head()) #Exibindo apenas as 5 primeiras linhas

x = fut[['Nome', 'Idade']] #Seleção de duas colunas

print('\n',x.tail()) #Exibindo apenas as 5 últimas linhas

0    Bangu A C
1    Bangu A C
2    Bangu A C
3    Bangu A C
4    Bangu A C
Name: Clube, dtype: object

                   Nome  Idade
486       Douglas Lima     25
487         Joao Vitor     22
488  Pedrinho Henrique     23
489      Saulo Mineiro     22
490      Andrey Jacare     16

#### Selecionando dados com base na condição em qualquer coluna.

In [ ]:
x = fut[fut['Clube'] == "Fluminense F C"]   #Selecionando as linhas que possuem clube = Fluminense S A

print('\n',x)

### Utilizando Operadores Lógicos <a id="Operadores"></a>
Uma maneira de consultar e filtrar os dados que envolvam mais de um critério de seleção é utilizando os operadores lógicos **AND(&) e OR( | )**. O exemplo abaixo exibe os atacantes pertencentes ao Fluminense:

In [50]:
x = fut[(fut['Clube'] == "Fluminense F C") & (fut['Posicao']=='ATACANTES')] #Seleção de linhas a partir das colunas Clube 
                                                                            # e Posicao

print('\n',x)

                  Nome  Idade           Clube  Altura (cm)  Peso (kg)  \
229    Lucas Barcelos     21  Fluminense F C          NaN        NaN
230   Felippe Cardoso     21  Fluminense F C        187.0       83.0
231      Marcos Paulo     18  Fluminense F C        185.0       76.0
232       Pablo Dyego     25  Fluminense F C        174.0       66.0
233         Evanilson     20  Fluminense F C          NaN        NaN
234     Caio Paulista     21  Fluminense F C        181.0       73.0
235  Fernando Pacheco     20  Fluminense F C        179.0       76.0
236      Matheus Pato     24  Fluminense F C        183.0       64.0

       Posicao
229  ATACANTES
230  ATACANTES
231  ATACANTES
232  ATACANTES
233  ATACANTES
234  ATACANTES
235  ATACANTES
236  ATACANTES

<a id="Exercicio"></a> 
### <font color="red">Exercicios:</font>
<br>
1. Selecione os Nomes e Idades dos atletas do 'Fluminense F C' que possuem idade entre 32 e 34 anos.<BR>
2. Os Nome e o Clube dos 'GOLEIROS' ou 'DEFENSORES' com peso acima de 89 Kg.

In [115]:
#Coloque seu código aqui! (1)

x = fut[(fut['Clube'] == "Fluminense F C") & ((fut['Idade']>=32) & (fut['Idade']<= 34)) ]
print('\n', x[['Nome','Idade']])

#Coloque seu código aqui! (2)

x = fut[(fut['Peso'] >= 89) & ((fut['Posicao']=='GOLEIROS') | (fut['Posicao']== 'DEFENSORES')) ]
print('\n', x[['Nome','Clube']])

                Nome  Idade
200          Muriel     32
205          Egidio     33
209  Matheus Ferraz     34
220          Hudson     32
226        Henrique     34

                   Nome              Clube
51   Gustavo Geladeira       Boavista S C
78               Diego       Botafogo F R
83          Joel Carli       Botafogo F R
128               Igor    A D Cabofriense
148        Diego Alves       Flamengo F R
170   Gustavo Henrique       Flamengo F R
272     Vladimir Tatui        Macae E F C
334              Bruno    Nova Iguacu F C
426    Fernando Miguel  C R Vasco da Gama

<a id="Desafio1"></a> 
### <font color="red">Desafio 1:</font>

3. Pelo cálculo do IMC, uma pessoa tem sobrepeso se o valor estiver entre 25 e 29.9. O IMC corresponde a razão entre o peso e a altura em metros ao quadrado. Mostre os nomes, Clubes e o valor do IMC's dos atletas que encontram-se nessa categoria. OBS: A altura está em cm e peso em Kg.

In [117]:
#Coloque seu código aqui!
IMC = fut['Peso']/(fut['Altura']/100)**2
fut['IMC'] = IMC
x =  fut[(fut['IMC'] >= 25) & (fut['IMC']<=29.9)] 
print(x[['Nome', 'Clube', 'IMC']])

                  Nome              Clube        IMC
7               Michel          Bangu A C  25.420015
51   Gustavo Geladeira       Boavista S C  26.575891
82         Ruan Renato       Botafogo F R  25.401701
112    Vinicius Tanque       Botafogo F R  25.106333
128               Igor    A D Cabofriense  25.181077
132           Uelliton    A D Cabofriense  26.027582
181              Diego       Flamengo F R  25.762981
204       Luccas Claro     Fluminense F C  25.057360
253               Bidu   Friburguense A C  25.617284
334              Bruno    Nova Iguacu F C  25.492722
338        Paulo Vitor    Nova Iguacu F C  25.155896
345    Raphael Neuhaus    Nova Iguacu F C  25.165146
381  Alexandre Talento     A A Portuguesa  25.308642
396            Jobinho     A A Portuguesa  25.762981
426    Fernando Miguel  C R Vasco da Gama  25.218607
471      Daniel Felipe  Volta Redonda F C  26.277285
485        Joao Carlos  Volta Redonda F C  26.528510

<a id="iloc"></a> 
### <font color="Black">ILOC e LOC:</font>

Selecionando dados usando **iloc[ ] e loc[ ]**

In [98]:
x = fut.iloc[0:5]  #Seleção posicional das linhas 0 até 4, semelhante as listas em Python
print('\n',x)

x = fut.loc[45:50]  #Seleção das linhas com índices de 45 até 50
print('\n',x)

x = fut.loc[1:10, ['Nome','Idade','Clube']] # Seleção das linhas com índices de 1 a 10, exibindo apenas os Nomes, Idades e Clubes
print('\n',x)

              Nome  Idade      Clube  Altura(cm)  Peso(kg)     Posicao  \
0      Jose Canto     21  Bangu A C       189.0      75.0    GOLEIROS
1         Luciano     27  Bangu A C         NaN       NaN    GOLEIROS
2  Matheus Inacio     27  Bangu A C       191.0      81.0    GOLEIROS
3   Rodrigo Lobao     26  Bangu A C       193.0      87.0  DEFENSORES
4     Bruno Moura     27  Bangu A C       183.0      78.0  DEFENSORES

         IMC
0  20.996053
1        NaN
2  22.203339
3  23.356332
4  23.291230

                  Nome  Idade         Clube  Altura(cm)  Peso(kg)     Posicao  \
45      everton Silva     31  Boavista S C       171.0      68.0  DEFENSORES
46  Gabriel Cassimiro     26  Boavista S C       187.0      87.0  DEFENSORES
47   Wellington Silva     31  Boavista S C       177.0      78.0  DEFENSORES
48     Kadu Fernandes     24  Boavista S C       187.0      83.0  DEFENSORES
49       Marcio Costa     24  Boavista S C       179.0      68.0  DEFENSORES
50     Victor Pereira     27  Boavista S C       190.0      87.0  DEFENSORES

          IMC
45  23.255019
46  24.879179
47  24.897060
48  23.735308
49  21.222808
50  24.099723

               Nome  Idade      Clube
1          Luciano     27  Bangu A C
2   Matheus Inacio     27  Bangu A C
3    Rodrigo Lobao     26  Bangu A C
4      Bruno Moura     27  Bangu A C
5            Dante     24  Bangu A C
6     Raul Cardoso     22  Bangu A C
7           Michel     28  Bangu A C
8    Lucas Sampaio     24  Bangu A C
9        Handerson     21  Bangu A C
10      Leo Amorim     19  Bangu A C

## Utilização de Funções Agregadas em DataFrames  <a id="Agragacao"></a> 

Agregação é o processo de transformar os valores de um conjunto de dados (ou um subconjunto dele) em um único valor. As funções agregadas executam cálculos em um conjunto de valores de entrada e retornam um valor, tais como: min, max, sum, count, etc.

### Utilizando as Funções: Min e Max.
    É possivel efetuar a seleção de itens envolvendo as funções Min() e Max(), conforme os exemplos a seguir:

In [70]:
   # Lista of Tuplas
   matrix = [(22, 82.4, 1.83),
             (33, np.NaN, 1.71),
             (44, 90, 1.81),
             (55, 87, np.NaN),
             (66, 70, 1.70)
             ]
 
# Criar o DataFrame
df = pd.DataFrame(matrix, index=list(['Andre', 'Joao','Mario','Paulo','Sergio']), columns=list(['Idade', 'Peso', 'Altura']))
 
print('Conteúdo do Dataframe:')
print(df)

print('\n***** Obtendo o menor valor por coluna ***** ')
 
# retorna a series contendo menor valor de cada coluna
col_min = df.min()
 
print('menor valor de cada coluna : ')
print(col_min)
 
print('\n***** Obtendo o menor valor por linha ***** ')
 
# Obtém uma serie contendo menor valor de cada linha
lin_min = df.min(axis=1)
 
print('menor valor de cada linha : ')
print(lin_min)
 
print('\n***** Obtendo o menor valor de cada coluna sem considerando NaN ***** ')
 
# Obrém um série contendo o menor valor de cada coluna considerando NaN 

col_min = df.min(skipna=False)
 
print('Menor valor de cada coluna considerando NaN: ')
print(col_min)
 
print('\n***** Obtém o menor valor de uma única coluna ***** ')
 
# Obtem o menor valor da coluna 'Altura'
alt_min = df['Altura'].min()
 
print("Menor valor da coluna Altura: " , alt_min)
 
# Obtem o menor valor da coluna 'Altura'
alt_min = df.min()['Altura']
 
print("Menor valor da coluna Altura: " , alt_min)

print('\n***** Obtém o menor valor de algumas colunas ***** ')
 
# Obtem os menores valores das colunas 'Peso' e 'Altura'
ap_min = df[['Peso', 'Altura']].min()
 
print("Menores valores das colunas 'Peso' e 'Altura': ")
print(ap_min)
 
print('\n***** Obtem o índice dos menores valores de cada coluna *****')
 
# Obtem o índice dos menores valores de cada coluna

col_idx_min = df.idxmin()
 
print("Nome dos índices dos menores valores de cada coluna :")
print(col_idx_min)
 
print('\n***** Obtem o nome da coluna de menor valor em cada linha *****')
 
# Obtem o nome das colunas de menor valor em cada linha
lin_idx_min = df.idxmin(axis=1)
 
print("nome das colunas de menor valor em cada linha :")
print(lin_idx_min)

Conteúdo do Dataframe:
        Idade  Peso  Altura
Andre      22  82.4    1.83
Joao       33   NaN    1.71
Mario      44  90.0    1.81
Paulo      55  87.0     NaN
Sergio     66  70.0    1.70

***** Obtendo o menor valor por coluna *****
menor valor de cada coluna :
Idade     22.0
Peso      70.0
Altura     1.7
dtype: float64

***** Obtendo o menor valor por linha *****
menor valor de cada linha :
Andre      1.83
Joao       1.71
Mario      1.81
Paulo     55.00
Sergio     1.70
dtype: float64

***** Obtendo o menor valor de cada coluna sem considerando NaN *****
Menor valor de cada coluna considerando NaN:
Idade     22.0
Peso       NaN
Altura     NaN
dtype: float64

***** Obtém o menor valor de uma única coluna *****
Menor valor da coluna Altura:  1.7
Menor valor da coluna Altura:  1.7

***** Obtém o menor valor de algumas colunas *****
Menores valores das colunas 'Peso' e 'Altura':
Peso      70.0
Altura     1.7
dtype: float64

***** Obtem o índice dos menores valores de cada coluna *****
Nome dos índices dos menores valores de cada coluna :
Idade      Andre
Peso      Sergio
Altura    Sergio
dtype: object

***** Obtem o nome da coluna de menor valor em cada linha *****
nome das colunas de menor valor em cada linha :
Andre     Altura
Joao      Altura
Mario     Altura
Paulo      Idade
Sergio    Altura
dtype: object

## Outras Funções de agregação em DataFrames <a id="Estatistica"></a>

### Média, Mediana, Desvio Padrão

In [169]:
# Calculando a média de idade dos jogadores do clubes cariocas
media = fut["Idade"].mean()
print("media=",media)

#Calculando a media de idade dos jogadores do 'Boavista S C'

medboa =fut[(fut['Clube'] == "Boavista S C")].mean()['Idade']
print('mediaboavista=',medboa)

#Calculando a mediana das Idades dos jogadores do 'Boavista S C'
mediboa =fut[(fut['Clube'] == "Boavista S C")].median()['Idade']
print('medianaboavista=',mediboa)

#Calculando média e desvio padrão dos pesos dos jogadores do 'Botafogo F R' com idades > 22 anos
medbota =fut[(fut['Clube'] == "Botafogo F R") & (fut['Idade'] > 22.0)].mean()['Peso']
print('mediabotafogo=',medbota)

#Calculando média e desvio padrão dos pesos dos jogadores do 'Botafogo F R' com idades > 22 anos
devbota =fut[(fut['Clube'] == "Botafogo F R") & (fut['Idade'] > 22.0)].std()['Peso']
print('desviobotafogo=',devbota)

media= 24.521384928716905
mediaboavista= 26.0
medianaboavista= 25.5
mediabotafogo= 76.4
desviobotafogo= 7.929956527391294

<a id="Desafio2"></a>
### <font color="red">Desafio 2:</font>

4. Exibir o Nome e o peso do atleta de maior peso do clube 'Flamengo F R'

In [111]:
# Coloque seu código aqui!! (4)

pesado = fut[(fut['Clube'] == "Flamengo F R")].max()['Peso']

fla = fut[(fut['Clube'] == "Flamengo F R") & (fut["Peso"]==pesado)]

print('\n', fla[['Nome', 'Peso']])

             Nome  Peso
148  Diego Alves  90.0

## Consultando dados com a função query: <a id="Query"></a> 
Outra maneira de consultar e filtrar os dados é usando o método query(),que possui uma sintaxe semelhante as queries do SQL, usamos os operadores lógicos **AND(&) e OR( | )** e expressões lógicas (**==, != , >, <, >= e <=**), para solicitar dados a partir de uma condição. A sintaxe da query é bem mais legível do que a sintaxe do loc.

In [118]:
print("\n****Revisitando a seleção dos Nomes e Idades dos atletas do 'Fluminense F C' que possuem idade entre 32 e 34 anos")
x=fut.query(('Clube == "Fluminense F C" & (Idade >= 32  & Idade <= 34)' ))
print(x)

print("\n****Revisitando a seleção dos Nomes e Clubes dos 'GOLEIROS' ou 'DEFENSORES' com peso acima de 89 Kg.s")
#x = fut[(fut['Peso (kg)'] >= 89) & ((fut['Posicao']=='GOLEIROS') | (fut['Posicao']== 'DEFENSORES')) ]
x = fut.query('Peso >= 89 & (Posicao =="GOLEIROS"  | Posicao == "DEFENSORES")')
print(x)

*****Revisitando a seleção  dos Nomes e Idades dos atletas do 'Fluminense F C' que possuem idade entre 32 e 34 anos
               Nome  Idade           Clube  Altura  Peso         Posicao  \
200          Muriel     32  Fluminense F C   188.0  87.0        GOLEIROS
205          Egidio     33  Fluminense F C   174.0  71.0      DEFENSORES
209  Matheus Ferraz     34  Fluminense F C   188.0  81.0      DEFENSORES
220          Hudson     32  Fluminense F C   178.0  73.0  MEIO-CAMPISTAS
226        Henrique     34  Fluminense F C   180.0  77.0  MEIO-CAMPISTAS

           IMC
200  24.615211
205  23.450918
209  22.917610
220  23.040020
226  23.765432

*****Revisitando a seleção dos Nomes e Clubes dos 'GOLEIROS' ou 'DEFENSORES' com peso acima de 89 Kg.s
                  Nome  Idade              Clube  Altura  Peso     Posicao  \
51   Gustavo Geladeira     33       Boavista S C   183.0  89.0  DEFENSORES
78               Diego     21       Botafogo F R   190.0  90.0    GOLEIROS
83          Joel Carli     33       Botafogo F R   193.0  91.0  DEFENSORES
128               Igor     30    A D Cabofriense   188.0  89.0  DEFENSORES
148        Diego Alves     34       Flamengo F R   190.0  90.0    GOLEIROS
170   Gustavo Henrique     26       Flamengo F R   196.0  89.0  DEFENSORES
272     Vladimir Tatui     36        Macae E F C   192.0  90.0  DEFENSORES
334              Bruno     25    Nova Iguacu F C   191.0  93.0    GOLEIROS
426    Fernando Miguel     34  C R Vasco da Gama   191.0  92.0    GOLEIROS

           IMC
51   26.575891
78   24.930748
83   24.430186
128  25.181077
148  24.930748
170  23.167430
272  24.414062
334  25.492722
426  25.218607

<a id="Exercicio2"></a> 
## <font color="red">Exercicios:</font>

#### Utilize a função  .query()  para exibir:
#### 5. Os nomes dos atletas e clubes com atletas com idades abaixo de 18 anos que não joguem no 'C R Vasco da Gama' nem no 'Botafogo F R'

#### 6. Os nomes dos atletas, Clubes e Alturas dos que não são GOLEIROS, mas possuem altura superior a 1.92 mt

In [131]:
#Coloque seu código aqui!! (5)

x = fut.query('Idade < 18 & (Clube!= "C R Vasco da Gama" & Clube!= "Botafogo F R")')
print(x[['Nome', 'Clube']])

#Coloque seu código aqui!! (6)

x = fut.query('Posicao != "GOLEIROS" & Altura/100 > 1.92')

print('\n',x[['Nome', 'Clube', 'Altura']])

                 Nome              Clube
202  Marcelo Pitaluga     Fluminense F C
228   Miguel Silveira     Fluminense F C
372           Maninho     A A Portuguesa
478          Gregorio  Volta Redonda F C
479       Pedro Higor  Volta Redonda F C
490     Andrey Jacare  Volta Redonda F C

                  Nome            Clube  Altura
3       Rodrigo Lobao        Bangu A C   193.0
5               Dante        Bangu A C   193.0
83         Joel Carli     Botafogo F R   193.0
146            Darlan  A D Cabofriense   193.0
170  Gustavo Henrique     Flamengo F R   196.0

## Agrupamento de dados em DataFrames <a id="Agregacao"></a> 

Agrupamento é um processo que envolve uma ou mais das seguintes etapas:
- <b>Dividindo os dados em grupos com base em alguns critérios.</b>
- <b>Aplicando uma função a cada grupo independentemente.</b>
- <b>Combinando os resultados em uma estrutura de dados.</b>

Destes, o passo 1 (dividindo) é o mais direto. De fato, em muitas situações, podemos desejar dividir o conjunto de dados em grupos e fazer algo com esses grupos. Na etapa de aplicação, podemos desejar fazer um dos seguintes:

- <b>Agregação</b>: calcular uma estatística resumida para cada grupo. Alguns exemplos: Somas ou médias de grupo, Calcular     tamanhos / contagens de grupos.

- <b>Transformação</b>: executar alguns cálculos específicos de grupo e retorne um objeto indexado. Alguns exemplos: Padronizar  dados dentro de um grupo, peenchendo NA's dentro de grupos com um valor derivado de cada grupo.

- <b>Filtragem</b>: descarte alguns grupos, de acordo com uma condição em grupo que avalie Verdadeiro ou Falso. Alguns          exemplos: Descartar dados que pertencem a grupos com apenas alguns membros, Filtrar os dados com base na soma ou média do grupo.

O **GroupBy** examinará os resultados da etapa de aplicação e tentará retornar um resultado combinado sensato se não se encaixar em nenhuma das duas categorias acima.

#### Importação dos dados do arquivo Excel "vendasProdutos.xlsx". Exibir o resumo do arquivo.

In [48]:
venda = pd.read_excel("vendasProdutos.xlsx", sheet_name= 'Plan1' , names=['Ordem','Data','Vendedor', 'Região', 'Produto', 'Faturamento'
],index_col='Ordem')
print(venda)

print(venda.info())

            Data Vendedor    Região    Produto  Faturamento
Ordem
101   2019-02-01     Igor       Sul     Caneta          300
102   2019-02-01     Igor       Sul     Caneta          600
103   2019-02-01     Igor       Sul      Lápis          750
104   2019-02-01  Gabriel     Norte      Lápis          900
105   2019-02-01  Gabriel     Norte     Caneta          150
...          ...      ...       ...        ...          ...
168   2019-08-01  Matheus   Sudeste     Caneta          150
169   2019-08-01  Matheus   Sudeste   Borracha          240
170   2019-08-01  Matheus  Nordeste   Borracha          300
171   2019-08-01  Valéria  Nordeste  Apontador          450
172   2019-08-01  Valéria  Nordeste  Apontador          510

[72 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 72 entries, 101 to 172
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Data         72 non-null     datetime64[ns]
 1   Vendedor     72 non-null     object
 2   Região       72 non-null     object
 3   Produto      72 non-null     object
 4   Faturamento  72 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 3.4+ KB
None

**Pergunta 1:** O total do Faturamento Mensal. Agrupamento pela coluna **Data**, realizando a soma da coluna **Faturamento**.

In [70]:
x = venda.groupby(["Data"])[['Faturamento']].sum()

print(x)

            Faturamento
Data
2019-02-01         6750
2019-03-01         5195
2019-04-01         3000
2019-05-01         2450
2019-06-01         4125
2019-07-01         3750
2019-08-01         5160

**Pergunta 2:** Vendas mendas Mensais por vendedor. Agrupamento pelas colunas **Data** e **vendedor**, realizando a soma da coluna **Faturamento**.

In [69]:
x = venda.groupby(["Data", "Vendedor"])[['Faturamento']].sum()

print(x)

                     Faturamento
Data       Vendedor
2019-02-01 Gabriel          1290
           Igor             1650
           Nathalia         1260
           Valéria          2550
2019-03-01 Gabriel          1525
           Igor             1880
           Matheus          1320
           Nathalia          270
           Valéria           200
2019-04-01 Matheus           445
           Nathalia          225
           Valéria          2330
2019-05-01 Gabriel          1075
           Igor             1375
2019-06-01 Matheus           825
           Nathalia         1050
           Valéria          2250
2019-07-01 Gabriel          1800
           Igor             1410
           Nathalia          540
2019-08-01 Matheus           690
           Nathalia          450
           Valéria          4020

**Pergunta 3:** Faturamento médio por região. Agrupamento pela coluna **Região**, realizando a média da coluna **Faturamento**.

In [58]:
x = venda.groupby(["Região"])[['Faturamento']].mean()
print(x)

          Faturamento
Região
Nordeste   403.888889
Norte      425.277778
Sudeste    449.722222
Sul        411.666667

## Iteração através de Grupos <a id="Agregacao"></a> 
Com o objeto groupby, podemos iterar através do elementos.

**Pergunta 4:** Para cada **Vendedor**, exibir os produtos vendidos e o faturamento. Agrupamento pela coluna **Vendedor**, Iterando pelas colunas **Produto** e **Faturamento**.

In [73]:
x = venda.groupby(["Vendedor"])
for nome, grupo in x:
   print (nome)
   print (grupo[['Produto','Faturamento']])

Gabriel
        Produto  Faturamento
Ordem
104       Lápis          900
105      Caneta          150
106    Borracha          240
121       Lápis         1000
122       Lápis          450
123      Caneta           75
140       Lápis          750
141      Caneta          125
142    Borracha          200
157       Lápis          750
158       Lápis          900
159      Caneta          150
Igor
         Produto  Faturamento
Ordem
101       Caneta          300
102       Caneta          600
103        Lápis          750
118    Apontador          680
119       Caneta          400
120       Caneta          800
137       Caneta          250
138       Caneta          500
139        Lápis          625
154    Apontador          510
155       Caneta          300
156       Caneta          600
Matheus
         Produto  Faturamento
Ordem
115     Borracha          320
116     Borracha          400
117    Apontador          600
132       Caneta           75
133     Borracha          120
134     Borracha          250
151     Borracha          200
152     Borracha          250
153    Apontador          375
168       Caneta          150
169     Borracha          240
170     Borracha          300
Nathalia
         Produto  Faturamento
Ordem
107     Borracha          300
108    Apontador          450
109    Apontador          510
124     Borracha          120
125     Borracha          150
126    Apontador          225
143     Borracha          250
144    Apontador          375
145    Apontador          425
160     Borracha          240
161     Borracha          300
162    Apontador          450
Valéria
         Produto  Faturamento
Ordem
110       Caneta          300
111       Caneta          600
112        Lápis          750
113        Lápis          900
114       Caneta          200
127    Apontador          255
128       Caneta          150
129       Caneta          300
130        Lápis          375
131        Lápis          450
135    Apontador          375
136    Apontador          425
146       Caneta          250
147       Caneta          500
148        Lápis          625
149        Lápis          750
150       Caneta          125
163    Apontador          510
164       Caneta          300
165       Caneta          600
166        Lápis          750
167        Lápis          900
171    Apontador          450
172    Apontador          510

**Pergunta 5:** Para cada **Vendedor**, exibir os produtos vendidos e o faturamento, por **Região**. Agrupamento pelas colunas **Vendedor** e **Região**, Iterando pelas colunas **Produto** e **Faturamento**.

In [81]:
x = venda.groupby(["Vendedor","Região"])
nomeant=''
for nome, grupo in x:  #Nome é uma tupla contendo (vendedor, Região)
    if nomeant != nome[0]:  # Exibe o nome do vendedor uma única vez
        print(nome[0])
        nomeant=nome[0] 
    print('\n',nome[1])
    print (grupo[['Produto','Faturamento']])

Gabriel

 Nordeste
      Produto  Faturamento
Ordem
122     Lápis          450
123    Caneta           75
158     Lápis          900
159    Caneta          150

 Norte
        Produto  Faturamento
Ordem
104       Lápis          900
105      Caneta          150
106    Borracha          240
140       Lápis          750
141      Caneta          125
142    Borracha          200

 Sudeste
      Produto  Faturamento
Ordem
121     Lápis         1000
157     Lápis          750
Igor

 Norte
         Produto  Faturamento
Ordem
118    Apontador          680
154    Apontador          510

 Sudeste
      Produto  Faturamento
Ordem
119    Caneta          400
120    Caneta          800
155    Caneta          300
156    Caneta          600

 Sul
      Produto  Faturamento
Ordem
101    Caneta          300
102    Caneta          600
103     Lápis          750
137    Caneta          250
138    Caneta          500
139     Lápis          625
Matheus

 Nordeste
        Produto  Faturamento
Ordem
134    Borracha          250
170    Borracha          300

 Norte
         Produto  Faturamento
Ordem
116     Borracha          400
117    Apontador          600
152     Borracha          250
153    Apontador          375

 Sudeste
        Produto  Faturamento
Ordem
132      Caneta           75
133    Borracha          120
168      Caneta          150
169    Borracha          240

 Sul
        Produto  Faturamento
Ordem
115    Borracha          320
151    Borracha          200
Nathalia

 Nordeste
        Produto  Faturamento
Ordem
124    Borracha          120
160    Borracha          240

 Sudeste
         Produto  Faturamento
Ordem
107     Borracha          300
108    Apontador          450
109    Apontador          510
143     Borracha          250
144    Apontador          375
145    Apontador          425

 Sul
         Produto  Faturamento
Ordem
125     Borracha          150
126    Apontador          225
161     Borracha          300
162    Apontador          450
Valéria

 Nordeste
         Produto  Faturamento
Ordem
110       Caneta          300
111       Caneta          600
112        Lápis          750
135    Apontador          375
136    Apontador          425
146       Caneta          250
147       Caneta          500
148        Lápis          625
171    Apontador          450
172    Apontador          510

 Norte
      Produto  Faturamento
Ordem
128    Caneta          150
129    Caneta          300
130     Lápis          375
164    Caneta          300
165    Caneta          600
166     Lápis          750

 Sudeste
      Produto  Faturamento
Ordem
131     Lápis          450
167     Lápis          900

 Sul
         Produto  Faturamento
Ordem
113        Lápis          900
114       Caneta          200
127    Apontador          255
149        Lápis          750
150       Caneta          125
163    Apontador          510

## Exercicios <a id="Exercicios3"></a>

Importar os dados da planilha <b>VendaCarros.xlsx</b>, formada pelos campos:"DataNotaFiscal", "Fabricante", "Estado", "ValorVenda", "ValorCusto", "TotalDesconto", "CustoEntrega", "CustoMaoDeObra", "NomeCliente", "Modelo", "Cor", "Ano". Exiba os primeiros 5 registros do DataFrame criado, bem como as informações resumo do Datarame.

In [85]:
#Coloque seu código aqui 

carros = pd.read_excel("VendaCarros.xlsx", sheet_name= 'VendaCarros' , names=["DataNotaFiscal", "Fabricante", "Estado", "ValorVenda", "ValorCusto",	"TotalDesconto", "CustoEntrega", "CustoMaoDeObra", "NomeCliente", "Modelo", "Cor", "Ano"
])
print(carros.head())

print(carros.info())

  DataNotaFiscal    Fabricante     Estado  ValorVenda  ValorCusto  \
0     2012-10-04   Rolls Royce  São Paulo       95000       50000
1     2012-01-01  Aston Martin  São Paulo      120000       75000
2     2012-02-02   Rolls Royce  São Paulo       88000       75000
3     2012-03-03   Rolls Royce  São Paulo       89000       88000
4     2012-04-04   Rolls Royce  São Paulo       92000       62000

   TotalDesconto  CustoEntrega  CustoMaoDeObra    NomeCliente       Modelo  \
0          500.0           750             750    Aldo Motors     Camargue
1            0.0          1500             550    Honest John          DBS
2          750.0          1000             550  Bright Orange  Prata Ghost
3            0.0          1000             550    Honest John  Prata Ghost
4            0.0          1500             550    Wheels'R'Us     Camargue

        Cor   Ano
0  Vermelho  2012
1      Azul  2012
2     Verde  2012
3      Azul  2012
4     Prata  2012
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457 entries, 0 to 456
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   DataNotaFiscal  457 non-null    datetime64[ns]
 1   Fabricante      457 non-null    object
 2   Estado          457 non-null    object
 3   ValorVenda      457 non-null    int64
 4   ValorCusto      457 non-null    int64
 5   TotalDesconto   457 non-null    float64
 6   CustoEntrega    457 non-null    int64
 7   CustoMaoDeObra  457 non-null    int64
 8   NomeCliente     457 non-null    object
 9   Modelo          457 non-null    object
 10  Cor             457 non-null    object
 11  Ano             457 non-null    int64
dtypes: datetime64[ns](1), float64(1), int64(5), object(5)
memory usage: 43.0+ KB
None

Exibir a quantidade de carros pelo Cliente *"AldoMortors"*.

In [92]:
#Coloque seu código aqui !!

qtd = carros[carros["NomeCliente"]=="Aldo Motors"].count()

qtd['NomeCliente']

35

Exibir lucro obtido nas vendas dos carros do Fabricante Rolls Royce no Estado de São Paulo. O lucro é a diferença entre o valor de venda e a soma dos valores Custo", Custo da Entrega, Custo de Mão de Obra e Desconto.

In [ ]:
#Coloque seu código aqui !!
total = carros[(carros["Fabricante"]=="Rolls Royce") & (carros["Estado"]=="São Paulo")].sum()

lucro = total['ValorVenda'] - sum(total[["ValorCusto","TotalDesconto", "CustoEntrega", "CustoMaoDeObra"]])
print(lucro)

Exbir o valor de venda e o ano da venda mais cara efetuada pelo Fabricante Aston Martin.

In [97]:
#Coloque seu código aqui !!

maximo = carros[(carros["Fabricante"]=="Aston Martin")].max()

print(maximo[['Ano', 'ValorVenda']])

Ano             2015
ValorVenda    181250
dtype: object

Exibir o Nome do Fabricante, modelo e ano do carro mais barato vendido em Minas Gerais e com preço de venda superior a 100000.

In [104]:
#Coloque seu código aqui !!

minimo = carros[(carros["ValorVenda"] > 100000 ) & (carros["Estado"]=="Minas Gerais")].min()

print(minimo[['Fabricante', 'Modelo', 'Ano']])

Fabricante    Aston Martin
Modelo         Continental
Ano                   2012
dtype: object

Exbir a media de vendas de cada fabricante por estado

In [107]:
x = carros.groupby(["Fabricante","Estado"])[['ValorVenda']].mean()
print(x)

                                ValorVenda
Fabricante   Estado
Aston Martin Espírito Santo   41782.307692
             Minas Gerais     70819.523810
             Rio de Janeiro   97951.578947
             São Paulo       129828.947368
Bentley      Espírito Santo  111375.000000
             Minas Gerais     65708.333333
             Paraná           46750.000000
             Rio de Janeiro   69620.370370
             São Paulo        68792.857143
Jaguar       Bahia            37375.000000
             Espírito Santo   64321.428571
             Minas Gerais     42400.000000
             Paraná           34625.000000
             Rio de Janeiro   52903.846154
             São Paulo        45274.590164
MGB          Rio de Janeiro   29000.000000
             São Paulo        27625.000000
Rolls Royce  Espírito Santo   64100.000000
             Minas Gerais     62216.666667
             Rio de Janeiro  117692.857143
             São Paulo       130901.515152
TVR          Bahia            35500.000000
             Espírito Santo   32500.000000
             Minas Gerais     29750.000000
             Paraná           44000.000000
             Rio de Janeiro   35416.666667
             São Paulo        36333.333333
Triumph      Minas Gerais     28000.000000
             Paraná           23875.000000
             Rio de Janeiro   26900.000000
             São Paulo        25250.000000